@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/* Wrapper */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Gradients */
.bg-gradient {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#bd10c3),
    color-stop(29%, #cd1590),
    color-stop(58%, #d2177e),
    to(#f3a3a3)
  );
  background-image: linear-gradient(
    90deg,
    #bd10c3,
    #cd1590 29%,
    #d2177e 58%,
    #f3a3a3
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-2 {
  background-image: linear-gradient(
    45deg,
    #ce06d6,
    #f440a3 28%,
    #fdc7ca 61%,
    #6183f3
  );
}

/* Section projects grid */
@media screen and (min-width: 1024px) {
  .projects article:nth-child(even) {
    margin-top: -78px;
    height: fit-content;
  }
}

/* Other */
.effect-nav {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.6);
}
